openapi: 3.0.3
info:
  title: CLS Settlement API
  description: API for managing CLS settlements, clearing, and risk monitoring
  version: 1.0.0
  contact:
    name: CLS Settlement Team
    email: cls@company.com
servers:
  - url: https://api.company.com/cls/v1
    description: Production server
paths:
  /settlements:
    get:
      operationId: getCLSSettlements
      summary: Get CLS settlements
      description: Retrieve CLS settlement information with optional filtering
      tags:
        - settlements
      parameters:
        - name: status
          in: query
          description: Filter by settlement status
          schema:
            type: string
            enum: [pending, matched, settled, failed, cancelled]
        - name: currency_pair
          in: query
          description: Filter by currency pair (e.g., USD/EUR)
          schema:
            type: string
        - name: date_from
          in: query
          description: Start date for filtering (YYYY-MM-DD)
          schema:
            type: string
        - name: date_to
          in: query
          description: End date for filtering (YYYY-MM-DD)
          schema:
            type: string
        - name: amount_min
          in: query
          description: Minimum amount filter
          schema:
            type: number
        - name: amount_max
          in: query
          description: Maximum amount filter
          schema:
            type: number
      responses:
        '200':
          description: List of CLS settlements
          content:
            application/json:
              schema:
                type: object
                properties:
                  settlements:
                    type: array
                    items:
                      $ref: '#/components/schemas/CLSSettlement'
                  total_count:
                    type: integer
    
    post:
      operationId: createCLSSettlement
      summary: Create CLS settlement
      description: Create a new CLS settlement instruction
      tags:
        - settlements
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CLSSettlementRequest'
      responses:
        '201':
          description: CLS settlement created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLSSettlement'
  
  /settlements/{settlement_id}:
    get:
      operationId: getCLSSettlementById
      summary: Get CLS settlement by ID
      description: Retrieve a specific CLS settlement by its ID
      tags:
        - settlements
      parameters:
        - name: settlement_id
          in: path
          required: true
          description: Settlement ID
          schema:
            type: string
      responses:
        '200':
          description: CLS settlement details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLSSettlement'
    
    put:
      operationId: updateCLSSettlement
      summary: Update CLS settlement
      description: Update an existing CLS settlement
      tags:
        - settlements
      parameters:
        - name: settlement_id
          in: path
          required: true
          description: Settlement ID
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CLSSettlementUpdate'
      responses:
        '200':
          description: CLS settlement updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLSSettlement'
  
  /settlements/{settlement_id}/cancel:
    post:
      operationId: cancelCLSSettlement
      summary: Cancel CLS settlement
      description: Cancel a pending CLS settlement
      tags:
        - settlements
      parameters:
        - name: settlement_id
          in: path
          required: true
          description: Settlement ID
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Cancellation reason
                cancelled_by:
                  type: string
                  description: ID of the person cancelling the settlement
      responses:
        '200':
          description: CLS settlement cancelled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLSSettlement'
  
  /clearing:
    get:
      operationId: getClearingStatus
      summary: Get clearing status
      description: Retrieve current clearing status and positions
      tags:
        - clearing
      parameters:
        - name: currency_pair
          in: query
          description: Filter by currency pair
          schema:
            type: string
        - name: include_positions
          in: query
          description: Include position details
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Clearing status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClearingStatus'
  
  /risk:
    get:
      operationId: getRiskMetrics
      summary: Get risk metrics
      description: Retrieve CLS risk metrics and limits
      tags:
        - risk
      parameters:
        - name: currency_pair
          in: query
          description: Filter by currency pair
          schema:
            type: string
        - name: risk_type
          in: query
          description: Filter by risk type
          schema:
            type: string
            enum: [credit, liquidity, operational, market]
      responses:
        '200':
          description: Risk metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskMetrics'
  
  /positions:
    get:
      operationId: getCLSPositions
      summary: Get CLS positions
      description: Retrieve current CLS positions
      tags:
        - positions
      parameters:
        - name: currency_pair
          in: query
          description: Filter by currency pair
          schema:
            type: string
        - name: include_history
          in: query
          description: Include position history
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: CLS positions
          content:
            application/json:
              schema:
                type: object
                properties:
                  positions:
                    type: array
                    items:
                      $ref: '#/components/schemas/CLSPosition'
                  total_count:
                    type: integer
  
  /instructions:
    get:
      operationId: getInstructions
      summary: Get settlement instructions
      description: Retrieve settlement instructions
      tags:
        - instructions
      parameters:
        - name: status
          in: query
          description: Filter by instruction status
          schema:
            type: string
            enum: [pending, matched, settled, failed]
        - name: date_from
          in: query
          description: Start date for filtering (YYYY-MM-DD)
          schema:
            type: string
        - name: date_to
          in: query
          description: End date for filtering (YYYY-MM-DD)
          schema:
            type: string
      responses:
        '200':
          description: List of settlement instructions
          content:
            application/json:
              schema:
                type: object
                properties:
                  instructions:
                    type: array
                    items:
                      $ref: '#/components/schemas/SettlementInstruction'
                  total_count:
                    type: integer
    
    post:
      operationId: createInstruction
      summary: Create settlement instruction
      description: Create a new settlement instruction
      tags:
        - instructions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettlementInstructionRequest'
      responses:
        '201':
          description: Settlement instruction created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettlementInstruction'
  
  /summary:
    get:
      operationId: getCLSSummary
      summary: Get CLS summary
      description: Get summary of CLS activities including pending settlements
      tags:
        - summary
      parameters:
        - name: date_range
          in: query
          description: Date range for summary
          schema:
            type: string
            enum: [today, yesterday, last_7_days, this_month, last_month]
        - name: include_pending
          in: query
          description: Include pending settlements in summary
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: CLS summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLSSummary'

components:
  schemas:
    CLSSettlement:
      type: object
      properties:
        id:
          type: string
          description: Settlement ID
        instruction_id:
          type: string
          description: Associated instruction ID
        currency_pair:
          type: string
          description: Currency pair (e.g., USD/EUR)
        buy_currency:
          type: string
          description: Buy currency
        sell_currency:
          type: string
          description: Sell currency
        buy_amount:
          type: number
          description: Buy amount
        sell_amount:
          type: number
          description: Sell amount
        rate:
          type: number
          description: Exchange rate
        status:
          type: string
          enum: [pending, matched, settled, failed, cancelled]
          description: Settlement status
        settlement_date:
          type: string
          format: date
          description: Settlement date
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
        matched_at:
          type: string
          format: date-time
          description: Matching timestamp
        settled_at:
          type: string
          format: date-time
          description: Settlement timestamp
        counterparty:
          type: string
          description: Counterparty identifier
        nostro_account:
          type: string
          description: Nostro account
      required:
        - id
        - currency_pair
        - buy_currency
        - sell_currency
        - buy_amount
        - sell_amount
        - status
    
    CLSSettlementRequest:
      type: object
      properties:
        currency_pair:
          type: string
          description: Currency pair (e.g., USD/EUR)
        buy_currency:
          type: string
          description: Buy currency
        sell_currency:
          type: string
          description: Sell currency
        buy_amount:
          type: number
          description: Buy amount
        sell_amount:
          type: number
          description: Sell amount
        settlement_date:
          type: string
          format: date
          description: Settlement date
        counterparty:
          type: string
          description: Counterparty identifier
        nostro_account:
          type: string
          description: Nostro account
      required:
        - currency_pair
        - buy_currency
        - sell_currency
        - buy_amount
        - sell_amount
        - settlement_date
    
    CLSSettlementUpdate:
      type: object
      properties:
        buy_amount:
          type: number
          description: Buy amount
        sell_amount:
          type: number
          description: Sell amount
        settlement_date:
          type: string
          format: date
          description: Settlement date
        counterparty:
          type: string
          description: Counterparty identifier
    
    ClearingStatus:
      type: object
      properties:
        currency_pair:
          type: string
          description: Currency pair
        net_position:
          type: number
          description: Net position
        gross_position:
          type: number
          description: Gross position
        matched_amount:
          type: number
          description: Matched amount
        unmatched_amount:
          type: number
          description: Unmatched amount
        last_update:
          type: string
          format: date-time
          description: Last update timestamp
        positions:
          type: array
          items:
            $ref: '#/components/schemas/CLSPosition'
          description: Detailed positions (if requested)
      required:
        - currency_pair
        - net_position
        - gross_position
        - matched_amount
        - unmatched_amount
    
    CLSPosition:
      type: object
      properties:
        currency_pair:
          type: string
          description: Currency pair
        buy_position:
          type: number
          description: Buy position
        sell_position:
          type: number
          description: Sell position
        net_position:
          type: number
          description: Net position
        value_date:
          type: string
          format: date
          description: Value date
        last_update:
          type: string
          format: date-time
          description: Last update timestamp
      required:
        - currency_pair
        - buy_position
        - sell_position
        - net_position
    
    RiskMetrics:
      type: object
      properties:
        currency_pair:
          type: string
          description: Currency pair
        credit_exposure:
          type: number
          description: Credit exposure
        liquidity_risk:
          type: number
          description: Liquidity risk
        operational_risk:
          type: number
          description: Operational risk
        market_risk:
          type: number
          description: Market risk
        total_risk:
          type: number
          description: Total risk
        risk_limits:
          type: object
          properties:
            credit_limit:
              type: number
            liquidity_limit:
              type: number
            operational_limit:
              type: number
            market_limit:
              type: number
        last_update:
          type: string
          format: date-time
          description: Last update timestamp
      required:
        - currency_pair
        - total_risk
    
    SettlementInstruction:
      type: object
      properties:
        id:
          type: string
          description: Instruction ID
        currency_pair:
          type: string
          description: Currency pair
        buy_currency:
          type: string
          description: Buy currency
        sell_currency:
          type: string
          description: Sell currency
        buy_amount:
          type: number
          description: Buy amount
        sell_amount:
          type: number
          description: Sell amount
        status:
          type: string
          enum: [pending, matched, settled, failed]
          description: Instruction status
        settlement_date:
          type: string
          format: date
          description: Settlement date
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        counterparty:
          type: string
          description: Counterparty identifier
      required:
        - id
        - currency_pair
        - buy_currency
        - sell_currency
        - buy_amount
        - sell_amount
        - status
    
    SettlementInstructionRequest:
      type: object
      properties:
        currency_pair:
          type: string
          description: Currency pair (e.g., USD/EUR)
        buy_currency:
          type: string
          description: Buy currency
        sell_currency:
          type: string
          description: Sell currency
        buy_amount:
          type: number
          description: Buy amount
        sell_amount:
          type: number
          description: Sell amount
        settlement_date:
          type: string
          format: date
          description: Settlement date
        counterparty:
          type: string
          description: Counterparty identifier
      required:
        - currency_pair
        - buy_currency
        - sell_currency
        - buy_amount
        - sell_amount
        - settlement_date
    
    CLSSummary:
      type: object
      properties:
        total_settlements:
          type: integer
          description: Total number of settlements
        pending_settlements:
          type: integer
          description: Number of pending settlements
        settled_amount:
          type: number
          description: Total settled amount
        pending_amount:
          type: number
          description: Total pending amount
        currency_pairs:
          type: array
          items:
            type: string
          description: Active currency pairs
        risk_summary:
          type: object
          properties:
            total_risk:
              type: number
            credit_exposure:
              type: number
            liquidity_risk:
              type: number
            operational_risk:
              type: number
            market_risk:
              type: number
        recent_settlements:
          type: array
          items:
            $ref: '#/components/schemas/CLSSettlement'
          description: Recent settlements
      required:
        - total_settlements
        - pending_settlements
        - settled_amount
        - pending_amount
