openapi: 3.0.3
info:
  title: Cash Management API
  description: API for managing cash transactions, payments, and approvals
  version: 1.0.0
  contact:
    name: Cash Management Team
    email: cash@company.com
servers:
  - url: https://api.company.com/cash/v1
    description: Production server
paths:
  /payments:
    get:
      operationId: getPayments
      summary: Get all payments
      description: Retrieve a list of all cash payments with optional filtering
      tags:
        - payments
      parameters:
        - name: status
          in: query
          description: Filter by payment status
          schema:
            type: string
            enum: [pending, approved, rejected, completed]
        - name: date_from
          in: query
          description: Start date for filtering (YYYY-MM-DD)
          schema:
            type: string
        - name: date_to
          in: query
          description: End date for filtering (YYYY-MM-DD)
          schema:
            type: string
        - name: amount_min
          in: query
          description: Minimum amount filter
          schema:
            type: number
        - name: amount_max
          in: query
          description: Maximum amount filter
          schema:
            type: number
      responses:
        '200':
          description: List of payments
          content:
            application/json:
              schema:
                type: object
                properties:
                  payments:
                    type: array
                    items:
                      $ref: '#/components/schemas/Payment'
                  total_count:
                    type: integer
    post:
      operationId: createPayment
      summary: Create a new payment
      description: Create a new cash payment request
      tags:
        - payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequest'
      responses:
        '201':
          description: Payment created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
  
  /payments/{payment_id}:
    get:
      operationId: getPaymentById
      summary: Get payment by ID
      description: Retrieve a specific payment by its ID
      tags:
        - payments
      parameters:
        - name: payment_id
          in: path
          required: true
          description: Payment ID
          schema:
            type: string
      responses:
        '200':
          description: Payment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
    
    put:
      operationId: updatePayment
      summary: Update payment
      description: Update an existing payment
      tags:
        - payments
      parameters:
        - name: payment_id
          in: path
          required: true
          description: Payment ID
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentUpdate'
      responses:
        '200':
          description: Payment updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
  
  /payments/{payment_id}/approve:
    post:
      operationId: approvePayment
      summary: Approve payment
      description: Approve a pending payment
      tags:
        - approvals
      parameters:
        - name: payment_id
          in: path
          required: true
          description: Payment ID
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                approver_id:
                  type: string
                  description: ID of the approver
                comments:
                  type: string
                  description: Approval comments
      responses:
        '200':
          description: Payment approved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
  
  /payments/{payment_id}/reject:
    post:
      operationId: rejectPayment
      summary: Reject payment
      description: Reject a pending payment
      tags:
        - approvals
      parameters:
        - name: payment_id
          in: path
          required: true
          description: Payment ID
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rejector_id:
                  type: string
                  description: ID of the rejector
                reason:
                  type: string
                  description: Rejection reason
      responses:
        '200':
          description: Payment rejected successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
  
  /transactions:
    get:
      operationId: getTransactions
      summary: Get all transactions
      description: Retrieve a list of all cash transactions
      tags:
        - transactions
      parameters:
        - name: type
          in: query
          description: Filter by transaction type
          schema:
            type: string
            enum: [credit, debit, transfer]
        - name: date_from
          in: query
          description: Start date for filtering (YYYY-MM-DD)
          schema:
            type: string
        - name: date_to
          in: query
          description: End date for filtering (YYYY-MM-DD)
          schema:
            type: string
      responses:
        '200':
          description: List of transactions
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Transaction'
                  total_count:
                    type: integer
  
  /summary:
    get:
      operationId: getCashSummary
      summary: Get cash summary
      description: Get summary of cash activities including pending approvals
      tags:
        - summary
      parameters:
        - name: date_range
          in: query
          description: Date range for summary
          schema:
            type: string
            enum: [today, yesterday, last_7_days, this_month, last_month]
        - name: include_pending
          in: query
          description: Include pending approvals in summary
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Cash summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashSummary'

components:
  schemas:
    Payment:
      type: object
      properties:
        id:
          type: string
          description: Payment ID
        amount:
          type: number
          description: Payment amount
        currency:
          type: string
          description: Payment currency
        status:
          type: string
          enum: [pending, approved, rejected, completed]
          description: Payment status
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
        description:
          type: string
          description: Payment description
        recipient:
          type: string
          description: Payment recipient
        requester_id:
          type: string
          description: ID of the person who requested the payment
        approver_id:
          type: string
          description: ID of the person who approved the payment
      required:
        - id
        - amount
        - currency
        - status
    
    PaymentRequest:
      type: object
      properties:
        amount:
          type: number
          description: Payment amount
        currency:
          type: string
          description: Payment currency
        description:
          type: string
          description: Payment description
        recipient:
          type: string
          description: Payment recipient
        requester_id:
          type: string
          description: ID of the person requesting the payment
      required:
        - amount
        - currency
        - recipient
        - requester_id
    
    PaymentUpdate:
      type: object
      properties:
        amount:
          type: number
          description: Payment amount
        currency:
          type: string
          description: Payment currency
        description:
          type: string
          description: Payment description
        recipient:
          type: string
          description: Payment recipient
    
    Transaction:
      type: object
      properties:
        id:
          type: string
          description: Transaction ID
        type:
          type: string
          enum: [credit, debit, transfer]
          description: Transaction type
        amount:
          type: number
          description: Transaction amount
        currency:
          type: string
          description: Transaction currency
        description:
          type: string
          description: Transaction description
        timestamp:
          type: string
          format: date-time
          description: Transaction timestamp
        balance_after:
          type: number
          description: Account balance after transaction
      required:
        - id
        - type
        - amount
        - currency
        - timestamp
    
    CashSummary:
      type: object
      properties:
        total_balance:
          type: number
          description: Total cash balance
        currency:
          type: string
          description: Currency
        pending_approvals:
          type: integer
          description: Number of pending approvals
        pending_amount:
          type: number
          description: Total amount pending approval
        recent_transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
          description: Recent transactions
        payment_summary:
          type: object
          properties:
            total_payments:
              type: integer
            approved_payments:
              type: integer
            rejected_payments:
              type: integer
            pending_payments:
              type: integer
      required:
        - total_balance
        - currency
        - pending_approvals
