openapi: 3.0.3
info:
  title: Securities Trading API
  description: API for managing securities trading, portfolio, and settlements
  version: 1.0.0
  contact:
    name: Securities Trading Team
    email: securities@company.com
servers:
  - url: https://api.company.com/securities/v1
    description: Production server
paths:
  /portfolio:
    get:
      operationId: getPortfolio
      summary: Get portfolio overview
      description: Retrieve current portfolio holdings and summary
      tags:
        - portfolio
      parameters:
        - name: account_id
          in: query
          description: Account ID to filter by
          schema:
            type: string
        - name: include_positions
          in: query
          description: Include detailed position information
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Portfolio overview
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Portfolio'
  
  /portfolio/positions:
    get:
      operationId: getPositions
      summary: Get portfolio positions
      description: Retrieve detailed position information for the portfolio
      tags:
        - portfolio
      parameters:
        - name: account_id
          in: query
          description: Account ID to filter by
          schema:
            type: string
        - name: security_type
          in: query
          description: Filter by security type
          schema:
            type: string
            enum: [equity, bond, option, future]
        - name: currency
          in: query
          description: Filter by currency
          schema:
            type: string
      responses:
        '200':
          description: List of positions
          content:
            application/json:
              schema:
                type: object
                properties:
                  positions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Position'
                  total_count:
                    type: integer
  
  /trades:
    get:
      operationId: getTrades
      summary: Get trading history
      description: Retrieve trading history with optional filtering
      tags:
        - trading
      parameters:
        - name: account_id
          in: query
          description: Account ID to filter by
          schema:
            type: string
        - name: security_id
          in: query
          description: Security ID to filter by
          schema:
            type: string
        - name: side
          in: query
          description: Filter by trade side
          schema:
            type: string
            enum: [buy, sell]
        - name: date_from
          in: query
          description: Start date for filtering (YYYY-MM-DD)
          schema:
            type: string
        - name: date_to
          in: query
          description: End date for filtering (YYYY-MM-DD)
          schema:
            type: string
        - name: status
          in: query
          description: Filter by trade status
          schema:
            type: string
            enum: [pending, executed, cancelled, failed]
      responses:
        '200':
          description: List of trades
          content:
            application/json:
              schema:
                type: object
                properties:
                  trades:
                    type: array
                    items:
                      $ref: '#/components/schemas/Trade'
                  total_count:
                    type: integer
    
    post:
      operationId: createTrade
      summary: Create a new trade
      description: Create a new securities trade order
      tags:
        - trading
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TradeRequest'
      responses:
        '201':
          description: Trade created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trade'
  
  /trades/{trade_id}:
    get:
      operationId: getTradeById
      summary: Get trade by ID
      description: Retrieve a specific trade by its ID
      tags:
        - trading
      parameters:
        - name: trade_id
          in: path
          required: true
          description: Trade ID
          schema:
            type: string
      responses:
        '200':
          description: Trade details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trade'
    
    delete:
      operationId: cancelTrade
      summary: Cancel trade
      description: Cancel a pending trade
      tags:
        - trading
      parameters:
        - name: trade_id
          in: path
          required: true
          description: Trade ID
          schema:
            type: string
      responses:
        '200':
          description: Trade cancelled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trade'
  
  /settlements:
    get:
      operationId: getSettlements
      summary: Get settlements
      description: Retrieve settlement information for trades
      tags:
        - settlements
      parameters:
        - name: account_id
          in: query
          description: Account ID to filter by
          schema:
            type: string
        - name: status
          in: query
          description: Filter by settlement status
          schema:
            type: string
            enum: [pending, settled, failed]
        - name: date_from
          in: query
          description: Start date for filtering (YYYY-MM-DD)
          schema:
            type: string
        - name: date_to
          in: query
          description: End date for filtering (YYYY-MM-DD)
          schema:
            type: string
      responses:
        '200':
          description: List of settlements
          content:
            application/json:
              schema:
                type: object
                properties:
                  settlements:
                    type: array
                    items:
                      $ref: '#/components/schemas/Settlement'
                  total_count:
                    type: integer
  
  /settlements/{settlement_id}:
    get:
      operationId: getSettlementById
      summary: Get settlement by ID
      description: Retrieve a specific settlement by its ID
      tags:
        - settlements
      parameters:
        - name: settlement_id
          in: path
          required: true
          description: Settlement ID
          schema:
            type: string
      responses:
        '200':
          description: Settlement details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settlement'
  
  /securities:
    get:
      operationId: getSecurities
      summary: Get available securities
      description: Retrieve list of available securities for trading
      tags:
        - securities
      parameters:
        - name: type
          in: query
          description: Filter by security type
          schema:
            type: string
            enum: [equity, bond, option, future]
        - name: exchange
          in: query
          description: Filter by exchange
          schema:
            type: string
        - name: currency
          in: query
          description: Filter by currency
          schema:
            type: string
      responses:
        '200':
          description: List of securities
          content:
            application/json:
              schema:
                type: object
                properties:
                  securities:
                    type: array
                    items:
                      $ref: '#/components/schemas/Security'
                  total_count:
                    type: integer
  
  /securities/{security_id}/price:
    get:
      operationId: getSecurityPrice
      summary: Get security price
      description: Retrieve current price for a security
      tags:
        - securities
      parameters:
        - name: security_id
          in: path
          required: true
          description: Security ID
          schema:
            type: string
      responses:
        '200':
          description: Security price
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityPrice'
  
  /summary:
    get:
      operationId: getSecuritiesSummary
      summary: Get securities summary
      description: Get summary of securities activities including pending settlements
      tags:
        - summary
      parameters:
        - name: account_id
          in: query
          description: Account ID to filter by
          schema:
            type: string
        - name: date_range
          in: query
          description: Date range for summary
          schema:
            type: string
            enum: [today, yesterday, last_7_days, this_month, last_month]
        - name: include_pending
          in: query
          description: Include pending settlements in summary
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Securities summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecuritiesSummary'

components:
  schemas:
    Portfolio:
      type: object
      properties:
        account_id:
          type: string
          description: Account ID
        total_value:
          type: number
          description: Total portfolio value
        currency:
          type: string
          description: Portfolio currency
        positions_count:
          type: integer
          description: Number of positions
        daily_pnl:
          type: number
          description: Daily profit/loss
        positions:
          type: array
          items:
            $ref: '#/components/schemas/Position'
          description: Detailed positions (if requested)
      required:
        - account_id
        - total_value
        - currency
        - positions_count
    
    Position:
      type: object
      properties:
        security_id:
          type: string
          description: Security ID
        security_name:
          type: string
          description: Security name
        quantity:
          type: number
          description: Position quantity
        average_price:
          type: number
          description: Average purchase price
        current_price:
          type: number
          description: Current market price
        market_value:
          type: number
          description: Current market value
        unrealized_pnl:
          type: number
          description: Unrealized profit/loss
        currency:
          type: string
          description: Position currency
      required:
        - security_id
        - quantity
        - average_price
        - current_price
        - market_value
    
    Trade:
      type: object
      properties:
        id:
          type: string
          description: Trade ID
        account_id:
          type: string
          description: Account ID
        security_id:
          type: string
          description: Security ID
        side:
          type: string
          enum: [buy, sell]
          description: Trade side
        quantity:
          type: number
          description: Trade quantity
        price:
          type: number
          description: Trade price
        currency:
          type: string
          description: Trade currency
        status:
          type: string
          enum: [pending, executed, cancelled, failed]
          description: Trade status
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        executed_at:
          type: string
          format: date-time
          description: Execution timestamp
        total_amount:
          type: number
          description: Total trade amount
      required:
        - id
        - account_id
        - security_id
        - side
        - quantity
        - price
        - status
    
    TradeRequest:
      type: object
      properties:
        account_id:
          type: string
          description: Account ID
        security_id:
          type: string
          description: Security ID
        side:
          type: string
          enum: [buy, sell]
          description: Trade side
        quantity:
          type: number
          description: Trade quantity
        price:
          type: number
          description: Trade price
        order_type:
          type: string
          enum: [market, limit, stop]
          description: Order type
      required:
        - account_id
        - security_id
        - side
        - quantity
    
    Settlement:
      type: object
      properties:
        id:
          type: string
          description: Settlement ID
        trade_id:
          type: string
          description: Associated trade ID
        account_id:
          type: string
          description: Account ID
        security_id:
          type: string
          description: Security ID
        quantity:
          type: number
          description: Settlement quantity
        amount:
          type: number
          description: Settlement amount
        currency:
          type: string
          description: Settlement currency
        status:
          type: string
          enum: [pending, settled, failed]
          description: Settlement status
        settlement_date:
          type: string
          format: date
          description: Settlement date
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
      required:
        - id
        - trade_id
        - account_id
        - security_id
        - quantity
        - amount
        - status
    
    Security:
      type: object
      properties:
        id:
          type: string
          description: Security ID
        name:
          type: string
          description: Security name
        symbol:
          type: string
          description: Security symbol
        type:
          type: string
          enum: [equity, bond, option, future]
          description: Security type
        exchange:
          type: string
          description: Exchange
        currency:
          type: string
          description: Security currency
        is_active:
          type: boolean
          description: Whether security is active for trading
      required:
        - id
        - name
        - symbol
        - type
        - currency
    
    SecurityPrice:
      type: object
      properties:
        security_id:
          type: string
          description: Security ID
        price:
          type: number
          description: Current price
        currency:
          type: string
          description: Price currency
        timestamp:
          type: string
          format: date-time
          description: Price timestamp
        change:
          type: number
          description: Price change from previous close
        change_percent:
          type: number
          description: Price change percentage
      required:
        - security_id
        - price
        - currency
        - timestamp
    
    SecuritiesSummary:
      type: object
      properties:
        account_id:
          type: string
          description: Account ID
        total_portfolio_value:
          type: number
          description: Total portfolio value
        currency:
          type: string
          description: Summary currency
        pending_settlements:
          type: integer
          description: Number of pending settlements
        pending_settlement_amount:
          type: number
          description: Total amount pending settlement
        daily_trades:
          type: integer
          description: Number of trades today
        daily_volume:
          type: number
          description: Trading volume today
        recent_trades:
          type: array
          items:
            $ref: '#/components/schemas/Trade'
          description: Recent trades
        settlement_summary:
          type: object
          properties:
            total_settlements:
              type: integer
            settled_settlements:
              type: integer
            failed_settlements:
              type: integer
            pending_settlements:
              type: integer
      required:
        - account_id
        - total_portfolio_value
        - currency
        - pending_settlements
